PORT = 3000
NODE_ENV = development
DB_HOST = "localhost"
DB_PORT = 5432
DB_USERNAME = "postgres"
DB_PASSWORD = "postgres"
DB_NAME = "creator"
JWT_SECRET ='secret key'
JWT_REFRESH_SECRET = 'refresh key'
JWT_EXPIRES_IN = '1d'
RABBITMQ_URL = amqp://guest:guest@127.0.0.1:5672/
FRONTEND_URL = "http://localhost:5173"
PAYSTACK_SECRET_KEY = sk_test_blah_blah
EMAIL_SERVICE_ID = "service_id"
EMAIL_TEMPLATE_ID = "template_id"
PUBLIC_KEY = "public_key"
DB_TYPE = postgres
GOOGLE_MAIL_PASSWORD = "pas wor wdr wer"
GOOGLE_MAIL_USER = "example@gmail.com"
BLOB_READ_WRITE_TOKEN = "vercel_blob_token"
REDIS_URL = "redis_url"
ASSET_QUEUE = "image_upload_queue"
EMAIL_QUEUE = "email_queue"
UPDATE_ASSET_QUEUE = "update_asset_queue"